.idea/
*.pyc
__pycache__/
utils/__pycache__/
test.data/
training/snapshot/
training/logs/
train.configs/param_all_norm.pkl*
train.configs/param_all_norm_val.pkl*
train.configs/train_aug_120x120.list.*

samples/*.mat
samples/*.ply
samples/*.txt

.ipynb_checkpoints/
*.ipynb
tmp/

models/shape_predictor_68_face_landmarks.dat
.DS_Store

demo_obama/
todo.md

utils/cython/build
utils/cython/*.so
utils/cython/mesh_core_cython.cpp
PAF/

samples/*.obj
